
*{
    box-sizing: content-box;
}
body{
    margin: auto;
}
@media(max-width: 890px){
    .links{
        height: 80px;
        margin-left: 5px;
    }

    .conteudo{
        max-width: 850px;
        min-height: 500px;
        padding: 20px 30px;
    }

    .labelcor{
        display: block;
        margin: 10px 30px;
    }

    .descricaoInput{
        font-weight: bold;
        width: 100px;
        margin-left: 30px;
    }

    .descricaoTexto{
        display: block;
        width: 100px;
        margin: 10px 30px;
    }

    .checkzinho{
        display: inline-block;
    }

    .checkboxing{
        display: block;
        margin: 5px 30px;
    }

    .buttonAdd{
        font-family: "Roboto Medium";
        border-radius: 10px;
        background-color: #50b6cf;
        color: white;
        padding: 2px 30px;
        width: 300px;
        height: 40px;
        margin-left: 20px;

        display: block;
        margin: 5px 30px;
    }
}


@media(min-width: 601px){
    .logoResponsivel{
        height: 100%;
        max-height: 50%;
        margin-left: 40px;
        display: none;
    }
    
    .menuResponsivel{
        margin: 30px;
        display: none;
    }
}

@media(max-width: 600px){
    /*Nav boostrap funciona com 574px*/
    .logoResponsivel{
        height: 100%;
        max-height: 50%;
        margin-left: 40px;
        display: block;
    }
    
    .menuResponsivel{
        margin: 30px;
        display: block;
    }

    .navegacao{
        display:none;
    }

    .logo, .links{
        display: none;
    }

    .formularioResponsivel{
        padding: 20px;
    }

    .conteudo{
        max-width: 600px;
        min-height: 500px;
        padding: 20px 30px;
    }

    .labelcor{
        display: block;
        margin: 10px 30px;
    }

    .descricaoInput{
        font-weight: bold;
        width: 100px;
        margin-left: 30px;
    }

    .descricaoTexto{
        display: block;
        width: 100px;
        margin: 10px 30px;
    }

    .checkzinho{
        display: inline-block;
    }

    .checkboxing{
        display: block;
        margin: 5px 30px;
    }

    .buttonAdd{
        font-family: "Roboto Medium";
        border-radius: 10px;
        background-color: #50b6cf;
        color: white;
        padding: 2px 30px;
        width: 300px;
        height: 40px;
        margin-left: 20px;

        display: block;
        margin: 5px 30px;
    }
}

/********************
                INDEX
**********************/
/*Menu index*/
/* body{
    background-color: blue;
} */
.navegacao{
    background-color: white;
    height: 100px;
    margin: 20px 40px;
    display: flex;
    flex-direction: row;    
}

.logo{
    height: 100%;
    max-height: 50%;
    /* border: 1px solid red; */
}

.links{
    height: 80px;
    margin: 20px 140px;
}

.links a,
.links a:hover{
    font-family: "Montserrat Regular";
    font-size: 24px;
    font-weight: 500;
    text-decoration: none;
    color: black;
}
.divisor{
    font-size: 20px;
    margin: 10px;
}

/* formulario index*/
.botaoAdicionar{
    background-color: #fff;
    font-family: "Roboto Medium";
    font-size: 25px;
    font-weight: 500;
    color: #50b6cf;
    width: 250px;
    height: 40px;
    border: none;

    margin:2px 30px;
}

.esconder{
    display: none;
}

input{
    all: initial;
    border: 1px solid black;
    width: 20px;
    height: 20px;
    display: inline-block;
}

.descricaoTexto{
    font-family: "Montserrat Medium";
    font-size: 18px;
    font-weight: 500;
    margin-left:40px;
}
.labelcor{
    font-family: "Montserrat Medium";
    font-size: 18px;
    font-weight: bold;
}

.descricaoInput{
    all: initial;
    border: 1px solid black;
    width: 490px;
    height: 40px;
    border: 1px solid #50b6cf;
    border-radius: 7px;
}

.buttonAdd{
    font-family: "Roboto Medium";
    border-radius: 10px;
    background-color: #50b6cf;
    color: white;
    padding: 2px 15px;
    width: 145px;
    height: 40px;
    margin-left: 10px;
    border: none;
}

.checkboxing{
    display: inline-block;
}

.checkzinho{
    height: 20px;
    width: 20px;
}

.checkzinho:checked{
    box-shadow: 1px 1px 1px rgb(0, 0, 0, 0.25);
}

/*Cores do check*/
.azul{background-color: #daf5fa; color: #19b5dc;}
.verde{background-color: #d1fecb; color: #58a51d;}
.rosa{background-color: #f6d0f6; color: #cb65cb;}
.roxo{background-color: #dcd0f3; color: #9763f9;}
.amarelo{background-color: #fcfccb; color: #8f8f69;}
.laranja{background-color: #fbd4b4; color: #ec842e;}
.branco{background-color: #fff; color: #727272;}

/*
    Conteudo
*/

.conteudo{
    width: 1200px;
    min-height: 500px;
    padding: 20px 30px;
    margin: auto;
    /*border: 5px solid red;
    background-color: black;*/
}

.divImgStatic{
    /* display:inline-block; */
    float: right;
}

/***Cartão Concluido****/
.cartaoConcluido{
    display: inline-block;
    vertical-align: top;
    width: 200px;
    height: 220px;
    border: 0px solid black;
    box-shadow: 2px 4px 5px rgb(0, 0, 0, 0.25);
    margin: 20px 10px;
    overflow: hidden;
}

.cabCartaoConcluido{
    height: 25px;
    width: 100%;
    background-color: #b8ff99;
    color: #2b5a07;
    font-family: "Roboto Regular";
    font-size: 15px;
}

.cabCartaoConcluido img{
    margin: 5px;
}

    /*Serve tanto para concluido quanto para não concluido*/
.textoDescricao{
    font-family: "Open Sans SemiBold";
    font-size: 20px;
    padding: 10px;
    height: 145px;
    width: 200px;
    overflow: hidden;
}

.rodapeCartao{
    display: inline-block;
    margin: 3px;
}

.cabCartaoNaoConcluido{
    height: 25px;
    width: 100%;
    background-color: #ffa4a3;
    color: #e42c28;
    font-family: "Roboto Regular";
    font-size: 15px;
}

.cabCartaoNaoConcluido img{
    margin: 5px;
}



/*
        <? foreach($tarefas as $indice => $tarefa){?>    

            <!-- Aqui abre o cartão --> <!-- Cor do cartão inteiro -->
            <?if($tarefa->cor == '#daf5fa'){?>
                <div class="cartaoConcluido azul">
            <?}else if($tarefa->cor == '#d1fecb'){?>
                <div class="cartaoConcluido verde">
            <?}else if($tarefa->cor == '#f6d0f6'){?>
                <div class="cartaoConcluido rosa">
            <?}else if($tarefa->cor == '#dcd0f3'){?>
                <div class="cartaoConcluido roxo">
            <?}else if($tarefa->cor == '#fcfccb'){?>
                <div class="cartaoConcluido amarelo">
            <?}else if($tarefa->cor == '#fbd4b4'){?>
                <div class="cartaoConcluido laranja">
            <?}else if($tarefa->cor == '#fff'){?>
                <div class="cartaoConcluido branco">
            <?}?>
            <!-- Cor do cabeçalho -->
            <? if($tarefa->concluida == 0){?>
                    <div class="cabCartaoNaoConcluido">
                <?}else if($tarefa->concluida == 1){?>
                    <div class="cabCartaoConcluido">
                <?}?>
                <!-- IMG do cabecalho-->
                <? if($tarefa->concluida == 0){?>
                    <img src="public/assets/unchecked.png" alt="checked não concluido">
                <?}else if($tarefa->concluida == 1){?>
                    <img src="public/assets/checked.png" alt="checked concluido">
                <?}?>
                    <!-- Escrita cabecalho -->
                    <? if($tarefa->concluida==0){?>
                        Não Concluido
                    <?}else if($tarefa->concluida == 1){?>
                        Concluido
                    <?}?>
                </div>
                    <!-- Escrita do cartao -->
                    <? if($tarefa->arquivada==0){?>
                        <div class="textoDescricao">
                            <?= $tarefa->descricao?>
                        </div>
                    <?}else if($tarefa->arquivada == 1){?>
                        <div class="textoDescricao">
                            <del> <?= $tarefa->descricao?> </del>
                        </div>
                    <?}?>
                    <!-- rodapé-->
                    <div class="rodapeCartao">
                    <? if($tarefa->concluida == 0){?>
                        <img src="public/assets/archive-color.png" alt="arquivar" onclick="concluir(<?=$tarefa->idTarefa?>)">
                    <?}else if($tarefa->concluida == 1){?>
                        <img src="public/assets/archive-color.png" alt="arquivar" onclick="arquivar(<?=$tarefa->idTarefa?>)">
                    <?}?>
                        <img src="public/assets/trash-gray-scale.png" alt="lixo" onclick="excluir(<?=$tarefa->idTarefa?>)">
                    </div>
            </div> 
            <!-- Fechando o cartão -->
        <?}?>
*/